<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GameChanger</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>AggiungiAlCarrelloServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.AggiungiAlCarrelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkout1Servlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.Checkout1Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkout2Servlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.Checkout2Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkout3Servlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.Checkout3Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkout4Servlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.Checkout4Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkout5Servlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.Checkout5Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminaProdottoServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.EliminaProdottoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAdminServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.getAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InserisciCategoria</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.InserisciCategoria</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InserisciProdottoServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.InserisciProdottoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaDatiServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.ModificaDatiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaProdotto2Servlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.ModificaProdotto2Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaProdottoServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.ModificaProdottoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaQuantitàCarrelloServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.ModificaQuantitàCarrelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostraCarrelloServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.MostraCarrelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostraProdottiPrezzoServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.MostraProdottiPrezzoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostraProdottoSingoloServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.MostraProdottoSingoloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MostraTuttiProdottiServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.MostraTuttiProdottiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProdottiAcquistatiServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.ProdottiAcquistatiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>profiloservlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.profiloservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RimuoviDalCarrelloServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.RimuoviDalCarrelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadImmaginiServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.UploadImmaginiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerificaEsistenzaProdotto</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.VerificaEsistenzaProdotto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerificaPasswordServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.VerificaPasswordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerificaUsernameServlet</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.VerificaUsernameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisualizzaAllOrdini</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.VisualizzaAllOrdini</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisualizzaOrdiniData</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.VisualizzaOrdiniData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisualizzaOrdiniUser</servlet-name>
  	<servlet-class>cn.gamechanger.servlet.VisualizzaOrdiniUser</servlet-class>
  </servlet>
</web-app>