
@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	font-family: 'Poppins', sans-serif;
	background: rgb(54,20,57);
	background: linear-gradient(90deg, rgba(54,20,57,1) 0%, rgba(3,3,64,1) 25%, rgba(3,3,64,1) 75%, rgba(54,20,57,1) 100%);
	display: flex;
	flex-direction: column;
	
}  
  .step-wizard {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 1%;
	margin-bottom: 3%;
  }
.step-wizard-list{
	background: #394759;
	box-shadow: 0 5px 25px rgb(5, 5, 5);
	color: #ffffffb5;
	list-style-type: none;
	border-radius: 10px;
	display:flex;
	align-content: baseline;
	padding: 20px 10px;
	position: relative;
	margin: 1%;
	/*toglie all'utente la possibilit� */
	z-index: 10;-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */	
}
.step-wizard-item{
	padding: 0 20px;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive:1;
	flex-grow: 1;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	min-width: 170px;
	position: relative;
	
}
.step-wizard-item + .step-wizard-item:after{
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	background: #F22E2E;
	width: 100%;
	height: 2px ;
	transform: translateX(-50%);
	z-index: -10;
}
.progress-count{
	height: 40 px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 600;
	margin: 0 auto;
	position: relative; 
	z-index:10;	
	color: transparent;
}
.progress-count:after{
	content: "";
	height: 40px;
	width: 40px;
	background: #F22E2E;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	border-radius: 50%;
	z-index: -10;
	
}
.progress-count:before{
	content: "";
	height: 10px;
	width: 20px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60%) rotate(-45deg);
	transform-origin: center center;
	
}
.progress-label{
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
	
}

.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #fffb96;
}
.current-item .progress-count{
    color: #F22E2E;
}

/*Inizio codice carrello */
.nome-prodotto {
	color: white;
	width: 30%;
}
.container-prodotto {
	 border-bottom: solid 1px #d8d8d8;
	 padding: 20px 0;
}
.container-totale {
    display: flex;
    padding-right: 68px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.scritta-principale  {
	overflow: auto;
    border-bottom: solid 1px #d8d8d8;
    margin: 5px 8px 20px 8px;
    padding: 5px 15px;
	position: relative;
	padding-left: 100px;
	color: white;
}
.container-prodotto {
	display: flex;
    justify-content: space-evenly;
}
.carrello{
	padding: 20px;
    background: #394759;
	box-shadow: 0 5px 25px rgb(5, 5, 5);
	color: #ffffffb5;
	border-radius: 10px;
	padding: 20px 10px;
	margin: 1%;
    margin-bottom: 20px;
    text-align: center;
}
.carrello h1{
	font-size: 25px;
}
.scritta-carrello {
	color: white;
	
}
.informazioni {
	padding: 20px;
    background: #394759;
	box-shadow: 0 5px 25px rgb(5, 5, 5);
	color: #ffffffb5;
	border-radius: 10px;
	padding: 20px 10px;
	margin: 1%;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.quantity {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 150px;
 
}

.quantity strong {
	font-size: 20px;
}
.quantity span {
	font-size: 20px;
}
.quantity-input {
	display: flex;
    flex-direction: row;
    align-items: center;
    width: 47px;
    height: 37px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
}
.immagine{
	height: 225px;
    width: 45%;
    display: flex;
    justify-content: center;
}
.immagine img {
	height: 218px;
	max-width: 100%;
	border-radius: 20px;
}
.prezzo {
	font-size: 30px;
	width: 20%;
}
button {
  padding: 5px 10px !important;
  margin: 0 5px !important;
  position: relative;
  margin-left: 30px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}


@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
.prezzo {
	display: flex;
    align-items: flex-end;
    color: white;
}
button.carrello{
	height: 34px;
	width: 80%;
}
button.acquista{
	margin-right: 11% !important;
}

@media (max-width: 768px) {
.immagine img {
	max-width: 200px;
	max-height: 170px;
}
}

@media (max-width: 480px) {
.immagine img{
	max-width: 170px;
	max-height: 145px;
}
}
