body {
	background: rgb(54,20,57);
	background: linear-gradient(90deg, rgba(54,20,57,1) 0%, rgba(3,3,64,1) 25%, rgba(3,3,64,1) 75%, rgba(54,20,57,1) 100%);
	font-family: Arial, Helvetica, sans-serif;
}
.container{
	min-height: 100vh;
}
.scritta {
	border-bottom: solid 1px #d8d8d8;
	color: white;
}
.container-faq {
	margin-top: 20px;
	margin-bottom: 20px;
}
.domanda {
  background: whitesmoke; 
  color: blueviolet; 
  border: 5px solid grey; 
 
  border-radius: 5px; 
  font-weight: 700;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.7s ease-in-out; 
}
.container-faq details {
	margin: 10px;
}
.domanda:hover {padding-left: 25px;} 
 
.domanda details[open] > summary:before {transform: rotate(90deg);} 
 
.domanda-testo {
  background: whitesmoke;
  color: blue; 
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: justify;
}