body {
	background: rgb(54,20,57);
	background: linear-gradient(90deg, rgba(54,20,57,1) 0%, rgba(3,3,64,1) 25%, rgba(3,3,64,1) 75%, rgba(54,20,57,1) 100%);
	font-family: Arial, Helvetica, sans-serif;
}
p {
	margin: 0;
	}
.informazioni {
	padding:20px;
	border-radius: 30px;
	background-image: linear-gradient(to bottom right, #6B0F75, #340F75);
	 box-shadow: 10px 10px black;
	 margin-bottom: 20px;
	}
.informazioni p {
	color: #cccccc;	
	}
.container {
	padding-left: 50px;
	padding-top: 50px;
}
.container-consigliati {
	position: relative;
}
.scritta-prodotti {
	border-top: solid 1px #d8d8d8;
}
.scritta-prodotti h3 {
	padding: 17px 0 20px 0;
    text-align: center;
    font-size: 30px;
    color: #d8d8d8;
    text-transform: uppercase;
    color: black;
    padding: 0 30px;
    font-weight: normal;
}
.nuove-uscite {
  width: 100%;
  max-height: 400px;
}

.nuove-uscite img {
  width: 100%;
  height: 200px;
  border-radius: 30px;
}
.nome-prodotto {
	overflow: auto;
    border-bottom: solid 1px #d8d8d8;
    margin: 5px 8px 20px 8px;
    padding: 5px 15px;
	position: relative;
	padding-left: 100px;
	
	
}
.nome-prodotto h1 {
	font-weight: bold;
    font-size: 2.5em;
    margin: 0 auto;
    color: white;
}
.nome-prodotto p {
	font-size: 13px;
	font-weight: normal;
	color: #979595;
}
.norme-prodotto p span {
	font-size: 16px;
	display: block;
}

.arrow_prev, .arrow_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow_prev {
  left: -20px;
  transform: rotate(90deg);
}

.arrow_next {
  right: -14px;
  transform: rotate(270deg);
}
.arrow_prev2 {
  left: -20px;
  transform: rotate(90deg) !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.arrow_next2 {
  right: 0px;
  transform: rotate(270deg) !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.box {
	position: relative;
}
.carosello {
  width: 100%;
  max-height: 400px;
}

.carosello img {
  width: 100%;
  height: 400px;
  border-radius: 30px;
}

button {
  position: relative;
  margin-left: 30px;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.prezzo {
	display: inline-block;
    vertical-align: middle;
}
.prezzo p {
	margin-top: 35px;
	text-align: left;
    font-size: 16px;
    
}
.numero{ 
	text-decoration: none;
}
.numero p {
	font-size: 30px;
    display: inline-block;
    line-height: 45px;
}
.carrello {
	margin-top : 20px;
}
.descrizione {
	display: inline-block;
    font-size: 12px;
    line-height: 18px;
    
}
.descrizione label {
	display: inline-block;
    font-weight: bold;
    width: 130px;
}
.desrizione em {
	font-size: normal;
}
.dettagli {
	margin-top: 20px;
	line-height: 25px;
}
.info {
	margin-left: 20px;
}
.informazioni p {
	font-size: 25px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.descrizone-prodotto {
	margin: 0 8px;
    padding: 0 0 60px 0;
    border-top: solid 1px #d8d8d8;
    
   
}
#Anchortag {
	display: block;
    position: relative;
    visibility: hidden;
}
.descrizione-prodotto {
	margin: 0 8px;
    padding: 0 0 60px 0;
    border-top: solid 1px #d8d8d8;
}
.scritta-principale {
	padding: 17px 0 20px 0;
    text-align: center;
    font-size: 30px;
    color: #d8d8d8;
    text-transform: uppercase;
    color: black;
}
.scritta-principale a {
	padding: 0 30px;
    text-decoration: none;
    font-weight: normal;
    color:#C0C0C0 !important;
}
.descrizione-2 {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-height: 120px;
}
.testo {
	text-align: justify;
    line-height: 20px;
}
.testo p {
	text-align: justify;
    line-height: 20px;
    color: #C0C0C0;;
}
.content2 {
	margin: 20px;
}
.scritta-prodotti h3{
	color: white;
	margin-top: 17px;
}