body {
	background: rgb(54,20,57);
	background: linear-gradient(90deg, #160E6B 0%, #42115E 25%, #42115E 75%, #160E6B 100%);
	font-family: Arial, Helvetica, sans-serif;
}
.scritta-principale  {
	overflow: auto;
    border-bottom: solid 1px #d8d8d8;
    margin: 5px 8px 20px 8px;
    padding: 5px 15px;
	position: relative;
	padding-left: 100px;
	color: white;
}
.prodotti{
	padding: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #6B0F75, #340F75);
    box-shadow: 0 5px 25px rgb(5, 5, 5);
    margin-bottom: 20px;
    text-align: center;
}
.prodotti h1{
	font-size: 25px;
}
.scritta-prodotto {
	color: white;
}
.immagine-prodotto img {
	width: 10%;
}
.quantity {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 150px;
 
}

.quantity strong {
	font-size: 20px;
}
.quantity span {
	font-size: 20px;
}
#quantity {
	display: flex;
    flex-direction: row;
    align-items: center;
    width: 47px;
    height: 37px;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
}
.immagine{
	height: 225px;
    width: 45%;
    display: flex;
    justify-content: center;
}
.immagine img {
	height: 218px;
	max-width: 100%;
	
	
}
th{
	font-family: Georgia, serif;
}
.nm{
	width: 40%;
}
.prz{
	width: 15%;
}

.qnt{
	width: 15%;
}

.prg{
	width: 30%;
}

table{
	width: 100%;
}

.prezzo {
	font-size: 30px;
	width: 20%;
}
.dvdOrd{
	height: 10px;
    background: thistle;
    border: none;
    border-radius: 100px;
	font-family: Georgia, serif;
}
.idOrdInf{
	text-align: initial;
}

.container-prodotto {
    color: whitesmoke;
}
.ordineCnt{
	background-color: red;
}
/* Base Divider class */
.divider {
	display: flex;
	
	&:before,
	&:after {
	  content: "";
	  flex: 1;
	}
  }
  
  /* Base line */
  .line {
	align-items: center;
	margin: 1em -1em;
	
	&:before,
	&:after {
	  height: 1px;
	  margin: 0 1em;
	}
  }
  
  /* Linea Glow */
  .glow {
	color: whitesmoke;
	&:before,
	&:after {
	  height: 6px;
	  -webkit-filter: blur(5px);
	  border-radius: 5px;
	}
	  
	&:before {
	  background: linear-gradient(to right, blue, hotpink);
	}
	  
	&:after {
	  background: linear-gradient(to left, blue, hotpink);
	}
  }

@media (max-width: 768px) {
.immagine img {
	max-width: 200px;
	max-height: 170px;
}
}

@media (max-width: 480px) {
.immagine img{
	max-width: 170px;
	max-height: 145px;
}
}