body {
	background: rgb(54,20,57);
	background: linear-gradient(90deg, rgba(54,20,57,1) 0%, rgba(3,3,64,1) 25%, rgba(3,3,64,1) 75%, rgba(54,20,57,1) 100%);
	font-family: Arial, Helvetica, sans-serif;
}
.scritta-principale {
	color: white;
	border-bottom: solid 1px #d8d8d8;
	margin-top: 10px;
}
.scritta-principale h1{
	margin-left: 50px;
}
.container-1 {
	padding: 20px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom right, #6B0F75, #340F75);
    box-shadow: 10px 10px black;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: 50px;
}
.scritta {
	color: white;
}