@font-face{
	font-family: candy;
	src:url(../fonts/Candy.otf);
}

* {
  box-sizing: border-box;
}

body {
	background: rgb(54,20,57);
	background: linear-gradient(90deg, rgba(54,20,57,1) 0%, rgba(3,3,64,1) 25%, rgba(3,3,64,1) 75%, rgba(54,20,57,1) 100%);
	font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
	position: relative;
	z-index: 9999;
	color: #fff;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.background-div {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-end;
	padding: 20vw 0;
	/* Utilizza vw per impostare il padding in base alla larghezza dello schermo */
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 80%,
		rgba(91, 91, 91, 1) 95%, #4a494a),
		linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #5b5b5b),
		url("../imgs/homepage/carousel/sekiro.jpg");
	background-color: #cccccc;
	background-size: cover;
	margin: auto;
	max-width: 100%;
	height: auto;
}

/* Stile per la navbar a sinistra */
.navbar {
	position: fixed !important;
	z-index: 9999;
	top: 200px;
	margin-left: 10px;
	background-color: #333;
	color: #fff;
	width: 60px; /* Imposta la larghezza desiderata */
	max-height: calc(100vh - 50px);
	/* Utilizza max-height invece di height */
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 50px;
}

.navbar ul {
	padding: 5px 0px;
	list-style-type: none;
}

.navbar ul li {
	margin: 0px 10px 30px;
}

.image-slider {
	position: absolute;
    top: 50%;
    right: 0;
     transform: translateY(-50%);
    margin-right: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	/* Colore di sfondo dell'image slider */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 999;
	/* Assicurati che l'image slider sia posizionato sopra gli altri elementi */
	overflow: auto;
	/* Aggiungi uno scroll se l'image-slider supera l'altezza dello schermo */
	border-radius: 50px;
}

.slider-controls {
	margin: 0px;
}

.slider-dot {
	width: 10px;
	height: 10px;
	background-color: #ccc;
	border-radius: 50%;
	margin: 20px 0px;
}


.border-img {
	--g: 4px;  
  --b: 12px;   
  --c: #65000B; 

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  transition: .3s;
  position: relative;
}


.border-img:hover {
  --_p: 75%;
}

.border-img:hover img{
  filter: grayscale(70%);
}

.card-img {
	position: relative;
}

.overlay{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.content h1{
	color: yellow;
	font-family: candy;
	font-size: 100px;
	text-align: center;
	line-height: 0.7;
}

.border-img:hover .overlay{
	opacity: 0.8;
}

/*BOTTONE PRIME 3 COLONNE*/

.button1 {
  --primary-color: black;
  --secondary-color: white;
  --hover-color: white;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.button1 .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1 .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.button1 .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.button1:hover {
  background-color: var(--hover-color);
}

.button1:hover .arrow {
  background: var(--secondary-color);
}

.button1:hover .arrow:before {
  right: 0;
}

