@font-face{
	font-family: crotah;
	src:url(../fonts/Crotah.ttf);
}

* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

button.botCop {
  position: relative;
  margin: 0px 141px 115px 0px;
  padding: 0.8em 1em;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
button.botCop:focus, button.botCop:active{
  outline:none !important;
}
button.botCop:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button.botCop:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button.botCop::before,
button.botCop::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button.botCop:hover::before,
button.botCop:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button.botCop:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button.botCop:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.container, .container-home{
	position: relative;
}

.container-home .row {
	margin: 0;
}
.LiOf{
  /* posizionamento bottone offerta*/
  position: absolute;
}

body {
	background: rgb(54,20,57);
	background: linear-gradient(90deg, #160E6B 0%, #42115E 25%, #42115E 75%, #160E6B 100%);
	font-family: Arial, Helvetica, sans-serif;
}


.bottoneCopertina {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.carosello-home {
  position: relative;
  width: 100%;
}

.carosello-home img {
  width: 100%;
  height: 90vh;
}

.carosello-home .gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%,
		rgba(3,3,64, 0.3) 95%, #030340);
}


.border-img {
	--g: 4px;  
  --b: 12px;   
  --c: #65000B; 

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  transition: .3s;
  position: relative;
}


.border-img:hover {
  --_p: 75%;
}

.border-img:hover img{
  filter: grayscale(100%);
}

.card-img {
	position: relative;
}

.overlay{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	transition: opacity 0.4s ease-in-out;
	cursor: pointer;
}

.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content h1{
	color: yellow;
	font-family: crotah;
	font-size: 2.3rem;
	text-align: center;
	line-height: 1.3;
	text-transform: uppercase;
}

.border-img:hover .overlay{
	opacity: 0.8;
}

.neon {
  display: inline-block;
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}



.neon h1 {
	font-size: 5rem;
}

.neon p {
	font-size: 20px;
}

.neon .B {
  animation: flicker 3s infinite;
}

.neon .S {
  animation: flicker 1s infinite;
}

.neon .L {
  animation: flicker 4s infinite;
}

.neon .R {
  animation: flicker 5s infinite;
}

/* bottoni e icone front-home*/
.scrittaCopertina {
	position: absolute;
	top: 0;
	right: 3%;
	z-index: 2;
}

.scrittaCopertina .neon {
	padding-top: 50px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
		0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.scrittaCopertina .neon p {
  font-size: 2.2rem; 
}


.col-md-12 {
	position: relative;
}

.col-md-12 img {
	width: 100%;
  height: 90vh;
}
.neon.pub{
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  71%,
  100% {
    text-shadow: none;
  }
}

.nuove-uscite {
  width: 100%;
  max-height: 400px;
}

.nuove-uscite img {
  width: 100%;
  height: 300px;
  border-radius: 30px;
}

.content2 {
	margin: 20px;
}
 

.arrow_prev1, .arrow_next1, .arrow_prev2, .arrow_next2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.arrow_prev1 {
  left: 35%;
  top: 90%;
  transform: rotate(90deg);
}

.arrow_next1 {
  right: 35%;
  top: 90%;
  transform: rotate(270deg);
}

.arrow_prev2 {
  left: -20px;
  transform: rotate(90deg);
}

.arrow_next2 {
  right: 0px;
  transform: rotate(270deg);
}

.slick-dots li button:before {
background-color: #6c2a91;
height: 10px;
width: 10px;
text-indent: -9999px;
overflow:hidden; 
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");



.nuove-usc-testo {
  margin: 65px 0 60px 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.sweet-title {
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;
}
.sweet-title  span {
    display: block;
    position: relative;
}
.sweet-title  span:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

.sweet-title  span:nth-child(1) {
      padding-right: 2.25rem;
    }

.sweet-title  span:nth-child(2) {
      padding-left: 2.25rem;
    }


.disclaimer {
  width: 100%;
  height: 2rem;
  text-align: center;
  color: #fff;
}
.disclaimer a {
    color: #fff;
  }


.video-container {
	display: flex;
    justify-content: center;
}

.video-info {
	display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: center;
}

.video-info p {
	color: white;
	text-align: center;
}

.head {
  font-size:50px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #8c031c;
}

.box {
	padding: 20px;
	border: solid #8c031c 5px;
	border-radius: 20px;
}


@media (max-width: 1200px) {
  .carosello-home img {
  width: 100%;
  height: 60vh;
}
.content h1{
	font-size: 1.7rem;
}
.nuove-uscite img {
  height: 250px;
}
.scrittaCopertina .neon p {
  font-size: 1.5rem;
}
}

@media (max-width: 900px) {
.nuove-uscite img {
  height: 200px;
}
.scrittaCopertina .neon p {
  font-size: 1.5rem;
}
}

@media (max-width: 768px) {
  .carosello-home img {
  width: 100%;
  height: 30vh;
}
.content h1{
	font-size: 1rem;
}
.nuove-uscite img {
  height: 150px;
}
.scrittaCopertina .neon{
  padding-top: 22px;
}

.scrittaCopertina .neon p {
  font-size: 1.0rem;
  padding-top: 18px;
}
button.botCop {
  margin: 0px 34px 30px 0px;
  padding: 0.3em 0.5em;
}

}
